.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo {
  background-color: rgba(172, 215, 14, 0.735);
  border-radius: 10px;
  text-align: center;
  width: 50%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(152, 192, 8, 0.735);
}

button {
  width: 100px;
  height: 30px;
  background-color: sandybrown;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 20px;
}

.input{
  width: 350px;
  height: 30px;
  border: none;
  border-radius: 9px;
  text-align: center;
}

.input::placeholder {
  text-align: center;
  font-size: medium;
}

.input:focus {
  outline: none;
  border: 2px solid rgb(152, 192, 8);
}